<h2>Review Successfully Submitted</h2>
<script>
    // redirect to task page
    let taskId = '<%=taskId%>';
    setTimeout(function () {
        window.location.href = '/task/' + taskId;
    }, 5000);
</script>