<div class="task-add-form">
    <h2>Create a Task</h2>
    <form action="/admin/task" method="post">
        <input name="name" type="text" placeholder="Task Name" required autocomplete="off"> <br><br>
        <textarea name="description" type="text" placeholder="Task Description" required autocomplete="off"></textarea> <br><br>
        <input name="points" type="number" placeholder="Points" required autocomplete="off"> <br><br>
        <input name="category" type="text" placeholder="Category" required autocomplete="off"> <br><br>
        <input name="dueDate" type="date" placeholder="Due Date" required autocomplete="off" id="due"> <br><br>
        <button type="submit">Create Task</button>
    </form>
</div>


