<h2>Create a Task</h2>

<form action="/admin/task" method="post">
    <input name="name" type="text" placeholder="Task Name" required autocomplete="off"> <br><br>
    <input name="description" type="text" placeholder="Task Description" required autocomplete="off"> <br><br>
    <input name="points" type="number" placeholder="Points" required autocomplete="off"> <br><br>
    <input name="category" type="text" placeholder="Category" required autocomplete="off"> <br><br>
    <input name="dueDate" type="date" placeholder="Due Date" required autocomplete="off"> <br><br>
    <button type="submit">Create Task</button>
</form>