<h1>Some Error Occurred</h1>
<h2>Please try again later </h2>
<h2>Redirecting to dashboard</h2>
<script>
    setTimeout(function () {

        window.location.href = '/dashboard';

    }, 5000);
</script>