<div class="leaderboard-div">
    <h1>
        Leaderboard
    </h1>
    <input type="text" id="search" placeholder="Search users" onkeyup="search()">
    <br>
    <br>
    <div class="leaderboard">
        <div class="users">
            <table id="users-table">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
                <tbody>
                    <% for( let i = 0; i < users.length; i++ ) { %>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= users[i].name %></td>
                            <td><%= users[i].points %></td>
                        </tr>
                    <% } %>   
                </tbody>
                
            </table>
        </div>
    </div>
</div>
<script>
    function search(){
        let input = document.querySelector('#search');
        let table = document.querySelector('#users-table');
        let tr = table.getElementsByTagName('tr');
        let td;
        for(let i = 0; i < tr.length; i++){
            td = tr[i].getElementsByTagName('td')[1];
            if(td){
                if(td.innerHTML.toUpperCase().indexOf(input.value.toUpperCase()) > -1){
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>