<div class="user-profile-div">
    <h1>
        Profile
    </h1>
    <div class="user-info">
        <p>
            <span>Name</span> <%=userInfo.name%>
        </p>
        <p>
            <span>Email</span> <%=userInfo.email%>
        </p>
        <p>
            <span>Points</span> <%=userInfo.points%>
        </p>
        <p>
            <span>Tasks Completed</span> <%=userInfo.tasks.length%>
    </div>
    <a href="/logout">
        Logout
    </a>
</div>